<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>you&apos;ve ever taken a sexy selfie.</string>
	<string>you&apos;ve ever sent a dirty text to the wrong person</string>
	<string>you&apos;ve ever had a one night stand.</string>
	<string>you&apos;ve ever used a friends pleasure toys</string>
	<string>you&apos;ve ever flirted with someone more than 10 years older than me</string>
	<string>you&apos;ve ever peeked at someone in the shower</string>
	<string>you&apos;ve ever had a full-body massage</string>
	<string>you&apos;ve ever called someone the wrong name while hooking up with them</string>
	<string>you&apos;ve ever illegally paid for sex</string>
	<string>you&apos;ve ever engaged in an orgy with the Malaysian Prime Minister</string>
	<string>you&apos;ve ever been the side bitch</string>
	<string>you&apos;ve ever streaked through a public place in broad daylight</string>
	<string>you&apos;ve ever hooked up with a friends parent</string>
	<string>you&apos;ve ever accidentally sent nudes to my parent instead of my intended recipient</string>
	<string>you&apos;ve ever gotten pregnant on purpose</string>
	<string>you&apos;ve ever modeled nude for my uncle’s photography startup</string>
	<string>you&apos;ve ever slept with someone more than once</string>
	<string>you&apos;ve ever slept with someone less than once</string>
	<string>you&apos;ve ever hooked up with my parents friend</string>
	<string>you&apos;ve ever shamelessly flirted with a professor to get an A in a class</string>
	<string>you&apos;ve ever given in to my fantasy of having my significant other role playing my next door neighbor, Mrs. Shumacker, and me as a small 9 year old boy and giving me banana pudding and hard candies and then letting me brush her hair</string>
	<string>you&apos;ve ever had “no kiss” sex</string>
	<string>you&apos;ve ever slept with someone because of their huge social media following</string>
	<string>you&apos;ve ever consummated someone else’s marriage</string>
	<string>you&apos;ve ever woken up next to someone and not known their name</string>
	<string>you&apos;ve ever had a devil’s threesome</string>
	<string>you&apos;ve ever had period sex</string>
	<string>you&apos;ve ever joined the mile high club</string>
	<string>you&apos;ve ever hooked up with someone while they were at work</string>
	<string>you&apos;ve ever lied to someone to get them into bed</string>
	<string>you&apos;ve ever hooked up with someone and never told a soul because of the immense shame</string>
	<string>you&apos;ve ever eaten the booty like groceries</string>
	<string>you&apos;ve ever posted nudes to your snapchat story on accident</string>
	<string>you&apos;ve ever posted nudes to your snapchat story on purpose</string>
	<string>you&apos;ve ever signed up for a sugar daddy dating site</string>
	<string>you&apos;ve ever slept with someone who could’ve joined the military when I was born</string>
	<string>you&apos;ve ever fallen asleep mid sex #coitusinteruptus</string>
	<string>you&apos;ve ever roll played as a cherished childhood cartoon character in the biblical sense</string>
	<string>you&apos;ve ever faked an orgasm</string>
	<string>you&apos;ve ever pegged</string>
	<string>you&apos;ve ever done the dirty at a sporting event</string>
	<string>you&apos;ve ever gotten an STI other than HPV</string>
	<string>you&apos;ve ever hooked up with someone from/while in another country</string>
	<string>you&apos;ve ever gotten a genital piercing</string>
	<string>you&apos;ve ever have someone stick their finger in my bellybutton for sexual pleasure</string>
	<string>you&apos;ve ever given or received a foot job</string>
	<string>you&apos;ve ever used a food item as a sexual object</string>
	<string>you&apos;ve ever been fisted or fisted another</string>
	<string>you&apos;ve ever receive an inappropriate text on your computer while you’re casting a presentation in front of your boss</string>
	<string>you&apos;ve ever kissed someone of the same sex</string>
	<string>you&apos;ve ever kissed someone of the opposite sex</string>
	<string>you&apos;ve ever participated in a rainbow party</string>
	<string>you&apos;ve ever been a peeping tom</string>
	<string>you&apos;ve ever made love on a water bed</string>
	<string>you&apos;ve ever performed autofellatio</string>
	<string>you&apos;ve ever had sex in a body of water</string>
	<string>you&apos;ve ever soaked</string>
    <string>you've ever been upset with a partner for not performing well.</string>
    <string>you've ever gotten dehydrated during a session.</string>
    <string>you've ever named a location after a session.</string>
    <string>you've ever sucked toes.</string>
    <string>you've ever done it with a family member in the same room (dirty!).</string>
    <string>you've ever done it With a family member in the same building.</string>
    <string>you've ever watched another couple get it on.</string>
    <string>you've ever tasted someone else bodily fluids.</string>
    <string>you've ever removed clothing in public that was not mine.</string>
    <string>you've ever been walked in on by my parents.</string>
    <string>you've ever screwed around in an elevator.</string>
    <string>you've ever had an relative walk in while I was getting it on.</string>
    <string>you've ever licked food off someone.</string>
    <string>you've ever tossed the salad.</string>
    <string>you've ever slept with someone within an hour of meeting them.</string>
    <string>you've ever been fooling around in the car and accidentally honked the horn.</string>
    <string>you've ever taken nude photos of myself/someone else.</string>
    <string>you've ever done it with someone more than twice my age.</string>
    <string>you've ever pleasured given my boyfriend/girlfriend for more than half an hour.</string>
    <string>you've ever shaved my partner’s pubic hair.</string>
    <string>you've ever kissed a celebrity.</string>
    <string>you've ever been choked.</string>
    <string>you've ever purchased a pleasuring toy.</string>
    <string>you've ever tricked an animal into licking my private.</string>
    <string>you've ever had a dirty crush on somebody in this circle.</string>
    <string>you've ever showered with the opposite gender.</string>
    <string>you've ever tasted breast milk.</string>
    <string>you've ever put a thumb in it.</string>
    <string>you've ever abandoned my baby mama.</string>
    <string>you've ever passed out from suffocation during…</string>
    <string>you've ever snuck a girl/guy into the house.</string>
    <string>you've ever used a sock when I was…</string>
    <string>you've ever played with a partners body more than my own.</string>
    <string>you've ever fell asleep watching…you know what.</string>
    <string>you've ever watched a friend doing it with their partner.</string>
    <string>you've ever completed a session without ever laying down.</string>
    <string>you've ever been accused of being With someone other than my partner.</string>
    <string>you've ever not washed a piece of clothing because of someone else scent.</string>
    <string>you've ever had to use lubrication.</string>
    <string>you've ever cheated.</string>
    <string>you've ever been upset with A partner for not performing well.</string>
    <string>you've ever gotten dehydrated during sex.</string>
    <string>you've ever named a Location After a session.</string>
    <string>you've ever done it with a family member in the same room.</string>
    <string>you've ever done it with a family member in The same building.</string>
    <string>you've ever watched another couple get it on.</string>
    <string>you've ever removed clothing in public that was not mine.</string>
    <string>you've ever done it outside.</string>
    <string>you've ever had a *dream* about a professor.</string>
    <string>you've ever licked food off someone.</string>
    <string>you've ever flashed someone.</string>
    <string>you've ever done it in the back of a pickup truck.</string>
    <string>you've ever slept in a bed with more than five people.</string>
    <string>you've ever done it with someone more than twice my age.</string>
    <string>you've ever had done it while in the shower.</string>
    <string>you've ever fooled around in a sibling’s room.</string>
    <string>you've ever woken up to someone giving me head.</string>
    <string>you've ever had done it with more than one person within 24 hours.</string>
    <string>you've ever found myself attracted to my pet.</string>
    <string>you've ever tried it in the rear.</string>
    <string>you've ever screwed around in an elevator.</string>
    <string>you've ever taken nude photos of myself/someone else.</string>
    <string>you've ever done it while at a party.</string>
    <string>you've ever done it on the toilet (dirty I know).</string>
    <string>you've ever been fooling around in the car and accidentally honked the horn.</string>
    <string>you've ever caught my parents doing it.</string>
    <string>you've ever had a clingy partner.</string>
    <string>you've ever done it in front of other people.</string>
    <string>you've ever slept with someone I thought was ugly.</string>
    <string>you've ever done it in a sleeping bag.</string>
    <string>you've ever tasted something nasty off my partner.</string>
    <string>you've ever not washed a piece of clothing because of someone else scent.</string>
    <string>you've ever had to use lubrication.</string>
    <string>you've ever cheated.</string>
</array>
</plist>
