<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>you&apos;ve ever kept a wallet or a money that someone dropped</string>
	<string>you&apos;ve ever had a hangover so bad I wanted someone to shoot me</string>
	<string>you&apos;ve ever fooled around in the stockroom while on the job</string>
    <string>you've ever made out with someone in my office</string>
    <string>you've ever tried to shake a blind man’s hand in a public setting</string>
    <string>you've ever set someones hair on fire</string>
    <string>you've ever killed an animal with my bare hands</string>
    <string>you've ever faked my own death to get out of going to a birthday party</string>
    <string>you've ever been kicked in the bum</string>
    <string>you've ever had a “dry dream”</string>
    <string>you've ever gotten lost at sea</string>
    <string>you've ever stuck my tongue in a wasps nest on accident</string>
    <string>you've ever collected all 150 Pokemon</string>
    <string>you've ever eaten a Taco Bell $5 box without feeling shame</string>
    <string>you've ever gone to the local playground just to have a little look-see</string>
    <string>you've ever stolen a dog so you can have the satisfaction of returning it and saving the day</string>
    <string>you've ever sniffed Post Malone</string>
    <string>you've ever proposed to someone as a joke</string>
    <string>you've ever woken up on the roof of a Jimmy Johns</string>
    <string>you've ever been to a nude beach</string>
    <string>you've ever eaten a carton of eggs in one sitting</string>
    <string>you've ever milked an animal other than a cow</string>
    <string>you've ever face-timed a B-list celebrity</string>
    <string>you've ever done the ice bucket challenge, regardless of how many times I was “nominated”</string>
    <string>you've ever hid a hickey with a brand new face tattoo</string>
    <string>you've ever conned an unsuspecting teen into washing my car by convincing them I am an experienced martial arts teacher</string>
    <string>you've ever witnessed a live childbirth</string>
    <string>you've ever let a friend tattoo my body</string>
    <string>you've ever crushed on a fictional character in a serious way</string>
    <string>you've ever considered auditioning for the Bachelor/Bachelorette because it would be easier than working my current 9-5 job</string>
    <string>you've ever had a gold tooth</string>
    <string>you've ever lost an entire day because I got absorbed into the world wide web</string>
    <string>you've ever zipped up my winkie in my jeans</string>
    <string>you've ever had more than 2 nipples</string>
    <string>you've ever seen a ghost</string>
    <string>you've ever given a friend/relative a Brazilian wax</string>
    <string>you've ever used the word “savage” unironically</string>
    <string>you've ever been punched in the face</string>
    <string>you've ever eaten human meat</string>
    <string>you've ever thrown the first pitch at a baseball game or gone streaking</string>
    <string>you've ever found my best friend Doug, or given him a best friend hug</string>
    <string>you've ever yelled at a homeless man</string>
    <string>you've ever gotten the approval of my father</string>
    <string>you've ever understood what my mom was talking about</string>
    <string>you've ever saw someone driving a Mitsubishi eclipse and not called them a douche</string>
    <string>you've ever been a middle aged, short haired, white woman and not asked to see the manager</string>
    <string>you've ever manually taxidermied a flamingo in order to use it for tiki parties</string>
    <string>you've ever docked</string>
    <string>you've ever jumped out of a plane with or without a parachute</string>
    <string>you've ever pretended I liked horror movies to impress a crush and ended up emotionally scarred</string>
    <string>you've ever helped my uncle, jack, off a horse</string>
    <string>you've ever helped my uncle jack off a horse</string>
    <string>you've ever had an existential crisis due to the fleeting light of the human life</string>
    <string>you've ever made up a rumor about my close friend</string>
    <string>you've ever lied about where I was</string>
    <string>you've ever cheated on a test</string>
    <string>you've ever cheated on a significant other</string>
    <string>you've ever lied about my age</string>
    <string>you've ever lied about my weight</string>
    <string>you've ever snooped through someone’s phone</string>
    <string>you've ever called someone a “b****”</string>
    <string>you've ever bought an outfit too small as “inspiration” to lose weight</string>
    <string>you've ever gone on a starvation diet</string>
    <string>you've ever said I was five minutes away when I hadn’t even left the house yet</string>
    <string>you've ever taken illegal drugs</string>
    <string>you've ever drunk dialed an ex</string>
    <string>you've ever had a crush on a friend’s boyfriend</string>
    <string>you've ever said the wrong name while getting intimate</string>
    <string>you've ever been in credit card debt</string>
    <string>you've ever lied about how much money I had</string>
    <string>you've ever posted a picture online with the sole intention of making an ex jealous</string>
    <string>you've ever lied to a cop</string>
    <string>you've ever been caught in a lie</string>
    <string>you've ever totally blacked out</string>
    <string>you've ever been kicked out of a bar</string>
    <string>you've ever swore I wouldn’t tell a secret and then told it</string>
    <string>you've ever stolen something cheaper than $10</string>
    <string>you've ever stolen something more expensive than $100</string>
    <string>you've ever taken more than 10 selfies to try and get a good one</string>
    <string>you've ever stalked an ex’s new girlfriend on social media</string>
    <string>you've ever practiced kissing on my hand</string>
    <string>you've ever lied about why I didn’t call someone back</string>
    <string>you've ever faked being sick to get a day off</string>
    <string>you've ever ran over an animal while driving</string>
    <string>you've ever cried to get out of a speeding ticket</string>
    <string>you've ever dined and dashed</string>
    <string>you've ever peed in a pool</string>
    <string>you've ever gone more than 3 days without showering</string>
    <string>you've ever eaten an entire pizza</string>
    <string>you've ever gotten my car towed</string>
    <string>you've ever faked someones signature</string>
    <string>you've ever re-gifted something that was gifted to me</string>
    <string>you've ever told my friend she didn’t look fat even though she did</string>
    <string>you've ever lied to impress someone</string>
    <string>you've ever worn a really provocative outfit for attention</string>
    <string>you've ever given a guy a fake number</string>
    <string>you've ever texted while I was driving</string>
    <string>you've ever parked in a handicapped spot</string>
    <string>you've ever gotten drunk at work</string>
    <string>you've ever gotten botox</string>
    <string>you've ever taken a picture down because it didn’t get a lot of likes</string>
    <string>you've ever plagiarized a paper</string>
    <string>you've ever failed a test</string>
    <string>you've ever pretended to be on the phone to avoid someone</string>
    <string>you've ever forgotten a close friend’s birthday</string>
    <string>you've ever returned something to a store after wearing it</string>
    <string>you've ever not told someone they had food stuck in their teeth</string>
    <string>you've ever swore I wasn’t lying when I was lying</string>
    <string>you've ever lied to get out of jury duty</string>
    <string>you've ever snuck into a movie without paying</string>
    <string>you've ever been caught in a lie</string>
    <string>you've ever eaten food out of the garbage</string>
    <string>you've ever eaten an entire box of cookies in one sitting</string>
    <string>you've ever borrowed something from a friend and didn’t give it back</string>
    <string>you've ever taken a sick day when I was really hungover</string>
    <string>you've ever kept something that I found on the street</string>
    <string>you've ever said a baby was cute when I thought it was ugly</string>
    <string>you've ever told someone “I’m so sorry, I didn’t see this text until just now” when I really saw it as soon as it came but didn’t feel like answering</string>
    <string>you've ever lost money betting</string>
    <string>you've ever forgot a family member’s birthday</string>
    <string>you've ever ghosted on someone</string>
    <string>you've ever gotten a tattoo that I regret</string>
    <string>you've ever used someone else’s toothbrush</string>
    <string>you've ever faked an injury to get out of something</string>
    <string>you've ever cheated in a contest</string>
    <string>you've ever had a crush on my boss</string>
    <string>you've ever made a prank call</string>
    <string>you've ever toilet papered someone’s house</string>
    <string>you've ever spied on my neighbors</string>
    <string>you've ever … said it was my birthday when it wasn’t to get something for free</string>
    <string>you've ever stuffed my bra</string>
    <string>you've ever passed out with all my clothes on</string>
    <string>you've ever tried a fad diet</string>
    <string>you've ever yelled at a telemarketer</string>
    <string>you've ever snooped through someone’s medicine cabinet</string>
    <string>you've ever gotten a fake ID taken away</string>
    <string>you've ever tried dog food</string>
    <string>you've ever said I wasn’t wearing makeup when I really was</string>
    <string>you've ever eaten food off the floor</string>
    <string>you've ever blamed someone else for something I did</string>
    <string>you've ever been afraid of the dark</string>
    <string>you've ever stolen a book from the library</string>
    <string>you've ever shown up places hoping to “accidentally” bump into someone I liked</string>
    <string>you've ever started a rumor</string>
    <string>you've ever made a friend take a photo off social media because I thought I looked bad</string>
    <string>you've ever rejected someone for a superficial reason</string>
    <string>you've ever said something was homemade when it was really store bought</string>
    <string>you've ever eaten my feelings</string>
    <string>you've ever ran a red light because no cars were coming</string>
    <string>you've ever pretended to understand a political discussion when I had no idea what they were talking about</string>
    <string>you've ever thrown a drink in someone’s face</string>
    <string>you've ever lied about liking something to impress a guy</string>
    <string>you've ever been scolded by a stranger for engaging in too much PDA</string>
    <string>you've ever photoshopped a picture to look skinnier</string>
    <string>you've ever broken a promise</string>
    <string>you've ever hooked up with a friend’s ex</string>
    <string>you've ever stalked someone I liked</string>
    <string>you've ever been caught shoplifting</string>
    <string>you've ever stolen money from my parents</string>
    <string>you've ever had a crush on a friend’s dad</string>
    <string>you've ever taken a “duck face” selfie</string>
    <string>you've ever stayed in my pajamas all day</string>
    <string>you've ever not washed my hair for a week</string>
    <string>you've ever been the other woman</string>
    <string>you've ever broken something that wasn’t mine and didn’t say anything</string>
    <string>you've ever worn the same undergarments three days in a row</string>
    <string>you've ever stole office supplies from work</string>
    <string>you've ever said I had an emergency to get out of a bad date</string>
    <string>you've ever wore the same outfit three days in a row</string>
    <string>you've ever broken something in a store and didn’t say anything</string>
    <string>you've ever lied about being a student to get a discount</string>
    <string>you've ever shared food with my pet</string>
    <string>you've ever gotten plastic surgery</string>
    <string>you've ever not picked up after my dog and left it on the street</string>
    <string>you've ever not left a tip at a restaurant</string>
    <string>you've ever drank a bottle of wine by myself</string>
    <string>you've ever started a sentence by saying “not to be mean but…” and then said something mean</string>
    <string>you've ever lied while playing "never have I ever" or "drink if" game</string>
</array>
</plist>
