<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>you&apos;ve my number saved under a nickname instead of my real name</string>
	<string>you&apos;ve seen me naked</string>
	<string>you&apos;ve held back my hair while I’ve thrown up before</string>
	<string>you&apos;ve ever had a crush on someone I’ve dated</string>
	<string>you&apos;ve an embarrassing picture of me on your phone</string>
	<string>you&apos;ve more tattoos than me</string>
	<string>you&apos;ve had a sex dream about someone in the circle</string>
	<string>you&apos;re not drunk enough yet</string>
	<string>you&apos;ve ever stolen something from someone close to me.</string>
	<string>you&apos;ve ever eaten food from the garbage.</string>
	<string>you&apos;ve ever received a traffic violation.</string>
	<string>you&apos;ve ever snooped through a family member’s or friend’s belongings without them knowing.</string>
	<string>you&apos;ve ever walked over five miles.</string>
	<string>you&apos;ve ever snuck into the movie theater without getting caught.</string>
	<string>you&apos;ve ever picked up a hitchhiker.</string>
	<string>you&apos;ve ever had a crush on a best friend’s sibling.</string>
	<string>you&apos;ve ever got into a physical altercation with a good friend.</string>
	<string>you&apos;ve ever lied to get out of going to work.</string>
	<string>you&apos;ve ever looked through someone’s phone without their permission.</string>
	<string>you&apos;ve ever performed on stage.</string>
	<string>you&apos;ve ever taken money that didn’t belong to me.</string>
	<string>you&apos;ve ever told a friend a lie to get out of hanging out with them.</string>
	<string>you&apos;ve ever stayed up for 48 hours straight.</string>
	<string>you&apos;ve ever visited another country.</string>
	<string>you&apos;ve ever been suspended from school.</string>
	<string>you&apos;ve ever pretended I had a phone call to get out of talking with someone.</string>
	<string>you&apos;ve ever thrown up in a public setting.</string>
	<string>you&apos;ve ever ditched out on paying the bill at a restaurant.</string>
	<string>you&apos;ve ever tried cutting my own hair.</string>
	<string>you&apos;ve ever given someone a black eye.</string>
	<string>you&apos;ve ever made money from performing on the streets.</string>
	<string>you&apos;ve ever told someone that I loved them without actually meaning it.</string>
	<string>you&apos;ve ever embarrassed myself trying to look cool in front of someone I liked.</string>
	<string>you&apos;ve ever gone fishing on a boat in the lake.</string>
	<string>you&apos;ve ever taken a ride on a train.</string>
	<string>you&apos;ve ever gotten a tattoo that I later regretted.</string>
	<string>you&apos;ve ever thrown my own surprise party.</string>
	<string>you&apos;ve ever cheated on an important test in school.</string>
	<string>you&apos;ve ever dated someone because I was bored.</string>
	<string>you&apos;ve ever got bitten by a snake.</string>
	<string>you&apos;ve ever thrown something at mine or someone else’s television.</string>
	<string>you&apos;ve ever went to the hospital for something embarrassing.</string>
	<string>you&apos;ve ever paid for something in all pennies.</string>
	<string>you&apos;ve ever been fired from a job.</string>
	<string>you&apos;ve ever shot a gun.</string>
	<string>you&apos;ve ever been to a Broadway play.</string>
	<string>you&apos;ve ever had a job that I absolutely despised.</string>
	<string>you&apos;ve ever starred in an embarrassing video that is now on the internet.</string>
	<string>you&apos;ve ever walked barefoot outside farther than my backyard.</string>
	<string>you&apos;ve ever taken the blame for something I’ve never done.</string>
	<string>you&apos;ve ever went camping without an RV.</string>
	<string>you&apos;ve ever seen or felt a ghost.</string>
	<string>you&apos;ve ever fallen in love with someone that didn’t know I existed.</string>
	<string>you&apos;ve ever broken a bone.</string>
	<string>you&apos;ve ever taken my parent’s car for a joy ride without them knowing.</string>
	<string>you&apos;ve ever been part of a talent show.</string>
	<string>you&apos;ve ever cried in front of a crush.</string>
	<string>you&apos;ve ever ate a whole carton of ice cream in one sitting by myself.</string>
	<string>you&apos;ve ever dyed my hair.</string>
	<string>you&apos;ve ever cheated on a test.</string>
	<string>you&apos;ve ever fallen in love at the first sight.</string>
    <string>you've ever shot a gun / been to a shooting range</string>
    <string>you've ever used a fake ID</string>
    <string>you've ever quit my job</string>
    <string>you've ever lied about my grade on a test</string>
    <string>you've ever ruined a surprise party</string>
    <string>you've ever heated something up in the microwave and forgot about it</string>
    <string>you've ever walked barefoot outside</string>
    <string>you've ever stayed up all night</string>
    <string>you've ever talked to a stranger about life</string>
    <string>you've ever been on a rollercoaster</string>
    <string>you've ever ran a marathon</string>
    <string>you've ever been on TV</string>
    <string>you've ever broken a bone</string>
    <string>you've ever dyed my hair</string>
    <string>you've ever cut my hair myself</string>
    <string>you've ever dyed my hair myself</string>
    <string>you've ever gone skydiving</string>
    <string>you've ever been fishing</string>
    <string>you've ever been electrocuted</string>
    <string>you've ever got a tattoo</string>
    <string>you've ever taken the subway</string>
    <string>you've ever gotten food poisoning</string>
    <string>you've ever lost my wallet</string>
    <string>you've ever swam with dolphins</string>
    <string>you've ever had an allergic reaction</string>
    <string>you've ever broken a phone</string>
    <string>you've ever stayed up for 3 days straight</string>
    <string>you've ever gone surfing</string>
    <string>you've ever pet a snake</string>
    <string>you've ever danced on a table at a club</string>
    <string>you've ever been to a gay club</string>
    <string>you've ever laughed so hard I almost peed</string>
    <string>you've ever had a conversation with someone famous</string>
    <string>you've ever hitchhiked</string>
    <string>you've ever picked up a hitch hiker</string>
    <string>you've ever wished I had a superpower</string>
    <string>you've ever traveled by myself</string>
    <string>you've ever gotten locked out of my house</string>
    <string>you've ever had poison ivy</string>
    <string>you've ever been locked out of my car</string>
    <string>you've ever rode a motorcycle</string>
    <string>you've ever cried while watching a movie</string>
    <string>you've ever laughed at a joke even though I didn’t think it was funny</string>
    <string>you've ever said I had to go to the bathroom as an excuse to get out of a conversation</string>
    <string>you've ever canceled plans so I could stay home and binge watch a show</string>
    <string>you've ever gotten gum stuck in my hair</string>
    <string>you've ever been obsessed with a boy band</string>
    <string>you've ever chopped off my hair and regretted it</string>
    <string>you've ever went on a camping trip</string>
    <string>you've ever been trapped in an elevator</string>
    <string>you've ever googled myself</string>
    <string>you've ever slept past noon</string>
    <string>you've ever stuck gum under the table instead of throwing it away</string>
    <string>you've ever eaten a bug</string>
    <string>you've ever been on the radio</string>
    <string>you've ever been to a music festival</string>
    <string>you've ever ridden a skateboard</string>
    <string>you've ever been in a food fight</string>
    <string>you've ever fallen asleep in the sun and gotten burned</string>
    <string>you've ever snuck food into a movie theater</string>
    <string>you've ever accidentally knocked over a sand castle</string>
    <string>you've ever been to Disneyland</string>
    <string>you've ever read all the Harry Potter books</string>
    <string>you've ever walked in my sleep</string>
    <string>you've ever driven a stick shift</string>
    <string>you've ever broken out in hives</string>
    <string>you've ever done the cinnamon challenge</string>
    <string>you've ever won a raffle</string>
    <string>you've ever over-plucked my eyebrows</string>
    <string>you've ever been in a hurricane</string>
    <string>you've ever been snowed in</string>
    <string>you've ever smoked a cigarette</string>
    <string>you've ever dreamed of being famous</string>
    <string>you've ever been to a fashion show</string>
    <string>you've ever ridden a camal</string>
    <string>you've ever pretended to be British</string>
    <string>you've ever been to mardi gras</string>
    <string>you've ever been in a haunted house</string>
    <string>you've ever gone hunting</string>
    <string>you've ever played chess</string>
    <string>you've ever dropped my phone in the toilet</string>
    <string>you've ever moved to a new city to start fresh</string>
    <string>you've ever changed a flat tire</string>
    <string>you've ever had a two day hangover</string>
    <string>you've ever read an entire book in one day</string>
    <string>you've ever fallen asleep on public transportation</string>
    <string>you've ever accidentally broken a window</string>
    <string>you've ever been yelled at by a homeless person</string>
    <string>you've ever got a spray tan</string>
    <string>you've ever tried to be a vegan</string>
    <string>you've ever applied to be on a reality show</string>
    <string>you've ever eaten ice cream for dinner</string>
    <string>you've ever participated in a march/protest</string>
    <string>you've ever burned myself with a curling iron</string>
    <string>you've ever fallen asleep in a movie theater</string>
    <string>you've ever gotten a massage</string>
    <string>you've ever deleted a social media account</string>
    <string>you've ever ordered delivery every day of the week</string>
    <string>you've ever been in a helicopter</string>
    <string>you've ever been scuba diving</string>
    <string>you've ever played laser tag</string>
    <string>you've ever gone snow boarding</string>
    <string>you've ever been in a snowball fight</string>
    <string>you've ever gone on a juice cleanse</string>
    <string>you've ever eaten an entire carton of ice cream</string>
    <string>you've ever donated blood</string>
    <string>you've ever left a horrible review on Yelp</string>
    <string>you've ever been in a band</string>
    <string>you've ever smoked a cigar</string>
    <string>you've ever fooled someone on April Fool’s day</string>
    <string>you've ever been stung by a bee</string>
    <string>you've ever hid my face to avoid having a stop and chat with someone on the street</string>
    <string>you've ever completed a Rubik’s Cube</string>
    <string>you've ever played with a ouija board</string>
    <string>you've ever gone to a psychic</string>
    <string>you've ever killed a plant</string>
    <string>you've ever played spin the bottle</string>
    <string>you've ever dyed my hair a crazy color</string>
    <string>you've ever hated a present but said I loved it</string>
    <string>you've ever snuck into a concert</string>
    <string>you've ever snuck into the VIP lounge</string>
    <string>you've ever been the the opera</string>
    <string>you've ever lost something valuable</string>
    <string>you've ever crashed a wedding</string>
    <string>you've ever cut my own bangs and regretted it</string>
    <string>you've ever ridden a mechanical bull</string>
    <string>you've ever gone cliff diving</string>
    <string>you've ever swam with sharks</string>
    <string>you've ever been horseback riding</string>
    <string>you've ever broken a mirror</string>
    <string>you've ever believed in a conspiracy theory</string>
    <string>you've ever thought something that happened in my dream happened in real life</string>
</array>
</plist>
