<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>you've ever been high around my grandma</string>
    <string>you've ever gotten too drunk and ruined a family vacation/wedding</string>
    <string>you've ever done mushrooms at a funeral</string>
    <string>you've ever gotten blackout drunk and fell down the stairs at an office Christmas party</string>
    <string>you've ever stolen from someone I knew well</string>
    <string>you've ever done drugs harder than meth</string>
    <string>you've ever been diagnosed with rampant alcoholism by a medical professional</string>
    <string>you've ever been an international drug smuggler</string>
    <string>you've ever dropped acid with the dean of my university</string>
    <string>you've ever taken a pill from a stranger without asking what it is</string>
    <string>you've ever partied with a celebrity</string>
    <string>you've ever blacked out before noon</string>
    <string>you've ever chased Plan B with a shot of tequila or other alcoholic beverage</string>
    <string>you've ever smoked weed or crack with my parents</string>
    <string>you've ever gotten addicted to something other than caffeine</string>
    <string>you've ever called in sick to work because I was too hungover</string>
    <string>you've ever hid drugs in my butt or coochie</string>
    <string>you've ever taken one shot too many, thrown up in my mouth, and then swallowed it so no one thinks I’m weak</string>
    <string>you've ever ruined a best man/maid of honor speech because I was too drunk</string>
    <string>you've ever butt chugged a fifth of Sailor Jerry</string>
    <string>you've ever bought “whipped cream canisters” for something other than whipped cream</string>
    <string>you've ever boofed a friend or been boofed by someone else – if you have to ask, you can’t afford</string>
    <string>you've ever scraped a bowl for res and then smoke it</string>
    <string>you've ever taken psychedelics with my coworkers</string>
    <string>you've ever hotboxed my sibling’s room</string>
    <string>you've ever had a *white* Christmas</string>
    <string>you've ever gotten drunk off hand sanitizer and mouth wash</string>
    <string>you've ever done a strikeout</string>
    <string>you've ever robo tripped</string>
    <string>you've ever smoked a tea joint</string>
    <string>you've ever used the sun light a bowl</string>
    <string>you've ever smoked out of an apple</string>
    <string>you've ever overdosed on birth control pills</string>
    <string>you've ever taken a mystery drug cocktail</string>
    <string>you've ever smoked catnip</string>
    <string>you've ever taken so many edibles I felt like I was laying on death’s door step awaiting my entry</string>
    <string>you've ever smoked a pube joint</string>
    <string>you've ever snorted Adderall</string>
    <string>you've ever taken a suppository for fun</string>
    <string>you've ever purchased Beano, Gasx, or any other anti-farting drug because I’m a #gassygirl</string>
    <string>you've ever been arrested and actually got convicted of a crime</string>
    <string>you've ever gotten into a fist fight</string>
    <string>you've ever smuggled fireworks across state lines</string>
    <string>you've ever stolen the declaration of independence</string>
    <string>you've ever stalked someone I had a crush on</string>
    <string>you've ever broken into a pool to go skinny dipping</string>
    <string>you've ever shoplifted for the rush</string>
    <string>you've ever googled myself to find out I’m a wanted criminal</string>
    <string>you've ever keyed a car or slashed its tires</string>
    <string>you've ever left someone/been left at the alter</string>
    <string>you've ever jumped off a bridge because my friend did it (I guess you were right, mom)</string>
    <string>you've ever drank the tears of my enemies</string>
    <string>you've ever sinned in church</string>
    <string>you've ever gotten kicked out of a bar/restaurant</string>
    <string>you've ever stolen money from your parents</string>
    <string>you've ever gotten into a bar with a fake ID</string>
    <string>you've ever cheated in a board game against a child</string>
    <string>you've ever ditched class for to get high</string>
    <string>you've ever gotten an OTPHJ in class</string>
    <string>you've ever tried luring children into my (please send your detailed story to **crimewatchers.com**)</string>
    <string>you've ever shat in a playground</string>
    <string>you've ever thrown grandpa’s war medals off the bridge</string>
    <string>you've ever smoked in school</string>
    <string>you've ever snuck into a concert</string>
    <string>you've ever crashed a wedding</string>
    <string>you've ever crashed my car</string>
    <string>you've ever peed on my old elementary school</string>
    <string>you've ever taught a kid how babies are made</string>
    <string>you've ever read the terms and conditions</string>
    <string>you've ever fully stopped at a stop sign when no one was around</string>
    <string>you've ever actually had my parents sign important documents</string>
    <string>you've ever said I had to go to a funeral so I could get out of jury duty</string>
    <string>you've ever cried to get out of a traffic ticket</string>
    <string>you've ever broke into a house of someone I didn’t know</string>
    <string>you've ever been on death row</string>
    <string>you've ever stolen alcohol from my parents and replaced it with water so the liquid in the bottle stayed at the same level</string>
    <string>you've ever hit a child “on accident”</string>
    <string>you've ever gotten an MIP</string>
    <string>you've ever broken the confines of my restricted drivers license as a 16 year old</string>
    <string>you've ever lied to my children/other children that did not belong to me for no other reason than it being fun/funny</string>
    <string>you've ever had really awkward boners.</string>
    <string>you've ever peed my pants in public.</string>
    <string>you've ever worn crocs.</string>
    <string>you've ever had sexual fantasies about siblings/parents.</string>
    <string>you've ever </string>
    <string>you've ever fapped in public.</string>
    <string>you've ever continued to stare at someone’s private parts even after getting several glares by the person.</string>
    <string>you've ever been willing to have sex with a donkey just for the heck of losing my virginity.</string>
    <string>you've ever farted in an elevator.</string>
    <string>you've ever faked a relationship just to make someone jealous.</string>
    <string>you've ever been sexually attracted to a person of the same gender.</string>
    <string>you've ever had an embarrassing hickey that wouldn’t go away.</string>
    <string>you've ever doubted my sexual orientation.</string>
    <string>you've ever had a crush on a friend’s parent.</string>
    <string>you've ever had a full body wax.</string>
    <string>you've ever walked in on my parents doing it.</string>
    <string>you've ever been to a nude beach.</string>
    <string>you've ever tasted my boogers/mucus as a child or an adult.</string>
    <string>you've ever tried to seduce my boss to get a raise or promotion.</string>
    <string>you've ever fooled around with a family member just to see what it was like.</string>
    <string>you've ever sexually shipped or fantasized about two best friends of the same gender.</string>
    <string>you've ever thrown up on someone.</string>
    <string>you've ever roofied someone.</string>
    <string>you've ever required medical attention because of a foreign object stuck inside of me.</string>
    <string>you've ever got turned on by animals.</string>
    <string>you've ever picked up food from a trashcan and devoured it.</string>
    <string>you've ever had a crush on a kid.</string>
    <string>you've ever had someone bitchslap me across the face.</string>
    <string>you've ever passed out with my head in the toilet.</string>
    <string>you've ever been called ‘gay’.</string>
    <string>you've ever asked for/sent nudes.</string>
    <string>you've ever been shouted at in public.</string>
    <string>you've ever stuck around on a neighbor undressing.</string>
    <string>you've ever done the walk of shame.</string>
    <string>you've ever watched same-sex porn and enjoyed it.</string>
    <string>you've ever had a threesome.</string>
    <string>you've ever paid to get laid.</string>
    <string>you've ever received or given a striptease.</string>
    <string>you've ever received or given someone a lap dance.</string>
    <string>you've ever participated in role play.</string>
    <string>you've ever made use of spices or condiments during sex.</string>
    <string>you've ever had a thing for or participated in bdsm.</string>
    <string>you've ever never have i ever preferred or fantasized about masochist practices.</string>
    <string>you've ever made love to a person of the same sex or had similar sexual experiences.</string>
    <string>you've ever used common household equipment as a sex toy.</string>
    <string>you've ever forced someone into sex.</string>
    <string>you've ever had sex with a dog.</string>
    <string>you've ever lied about using a condom when in fact i didn’t.</string>
    <string>you've ever had a one-night stand.</string>
    <string>you've ever had a silent love making session in a full house.</string>
    <string>you've ever failed at sodomy.</string>
    <string>you've ever participated in an orgy.</string>
    <string>you've ever had sex while others watched.</string>
    <string>you've ever tried out new sex positions with the help of kamasutra.</string>
    <string>you've ever had resistance sex.</string>
    <string>you've ever watched my partner make love to someone else.</string>
    <string>you've ever got down with a sex doll.</string>
    <string>you've ever used feather ticklers for turning myself on.</string>
    <string>you've ever made love to a transvestite, either forcefully or willingly.</string>
    <string>you've ever flirted with someone even after spotting their wedding band.</string>
</array>
</plist>
